<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>


<script src="js/translatorApp.js"></script>
<script src="js/frontCtrl.js"></script>
<script src="js/directWordDescription.js"></script>
<script src="js/directTranslateDescription.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div ng-app="translatorApp" ng-controller="navigateWords">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Translator by Lexicon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedLang==null?'Choose language':selectedLang.description}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <a class="dropdown-item" ng-repeat="x in availableLangs" ng-click="selectLang(x)">
                    {{x.description}}</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 mt-3">

                <div ng-if="selectedLang">
                    <div class="input-group mb-3">
                        <input ng-model="searchField" type="text" class="form-control" placeholder="Search word..."
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button ng-click="addItem(searchField, selectedLang.code)" class="btn btn-outline-secondary" type="button">+</button>
                        </div>
                    </div>

                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                           aria-controls="settings"
                           ng-click="selectWord(word)" ng-repeat="word in words | filter : searchField">{{word}}</a>
                    </div>
                </div>
            </div>

            <div class="col-10" ng-if="selectedWord">

                <div>
                    <h1>{{selectedWord.word}}</h1>
                    <span class="phoneme">{{selectedWord.phoneme}}</span>
                    <button type="button" ng-click="editWord(selectedWord)">edit</button>
                </div>
                <div class="form-group col-md-6">
                    <label for="subjectForm">Subject</label>
                    <input type="text" class="form-control" id="subjectForm" ng-model="selectedWord.subject">
                </div>
                <hr>
                <button type="button" class="btn btn-outline-success" ng-click="addPack(selectedWord, lang)"
                        ng-repeat="lang in unFilledPack">{{lang.description}}
                </button>
                <hr>


                <translate-description ng-repeat="pack in selectedWord.translatePacks"
                                       pack="pack">
                </translate-description>

            </div>
        </div>
    </div>


</div>


</body>
</html>